/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    font-family: "Lato", sans-serif;
    color: #666;
}

a {
    font-family: "Lato", sans-serif;
}

body ::selection {
    background-color: #333333 !important;
    color: #fff !important;
}

body {
    color: #333333;
}

.instaIcon:hover {
    background: linear-gradient(135deg, #f9ce34, #ee2a7b, #6228d7);
}